<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.amare.dao.UserDao">
    <!--namespace를 통해 UserDAO와 연결합니다. -->
    <select id="selectUsers" resultType="com.example.amare.dto.User">
        <!-- selectUsers()메서드를 호출하면 실행할 SELECT문이며, UserDTO 객체를 파라미터로 받아, UserDTO객체를 반환합니다.-->
        SELECT * FROM user
    </select>

    <!-- 회원가입 폼을 회원 DB에 넣는 Insert문 -->
    <insert id="insertUser" parameterType="com.example.amare.dto.User" >
        INSERT INTO user VALUES (#{user_id},#{user_password}, #{user_nickname}, #{user_age},
                                 #{user_address}, #{user_sex}, #{user_height}, #{user_tag1}, #{user_tag1_probability},
                                 #{user_tag2}, #{user_tag2_probability},#{user_tag3}, #{user_tag3_probability})
    </insert>


    <select id="findUserById" resultType="com.example.amare.dto.User">
        SELECT * FROM user where user_id = #{id}
    </select>

</mapper>